@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, serif;
  overflow-x: hidden;
}

/* Carousel */
.embla {
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide__testi {
  flex: 0 0 33%;
  min-width: 0;
}
/* End of Carousel */


/* Navbar */
.navbar-transition {
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 90px;
}

.navbar-hidden {
  opacity: 0;
  height: 0;
}
/* End of Navbar */
